@import "tailwindcss";
@import "tw-animate-css";
@import "./modules/amplify.css";

/* ========== VARIABLES ========== */
:root {
  --color-primary-light: #9ccc65;
  --color-primary: #7cb342;
  --color-primary-dark: #5a812f;

  --color-bg-main: #ffffff;
  --color-bg-form: #f9f9f9;
  --color-bg-input: #ffffff;

  --color-text-main: #343a40;
  --color-text-light: #6c757d;
  --color-text-error: #d02b28;

  --color-button-text: #ffffff;
  --color-button-text-hover: #ffffff;

  --color-border: #dee2e6;
}

.dark {
  --color-primary-light: #9ccc65;
  --color-primary: #9ccc65;
  --color-primary-dark: #558b2f;

  --color-bg-main: #121212;
  --color-bg-form: #1e1e1e;
  --color-bg-input: #2a2a2a;

  --color-text-main: #e0e0e0;
  --color-text-light: #b0b0b0;
  --color-text-error: #f28b82;

  --color-button-text: #121212;
  --color-button-text-hover: #ffffff;

  --color-border: #444;
}
